* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
del {
  text-decoration: line-through;
}
body {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #000;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}
input,
textarea,
select {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

a {
  color: #000;
}
.thumb {
  display: block;
}
.thumb img {
  display: block;
  width: 100%;
}
p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "GT-Eesti", Arial;
  font-weight: 500;
  color: #000;
}
.hidden {
  display: none;
}
br.clear {
  clear: both;
  line-height: 0;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/transfonter.org-20221219-073526/ Roboto-Bold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/transfonter.org-20221219-073526/ Roboto-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/transfonter.org-20221219-073526/Roboto-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
::placeholder {
  color: #9b9b9b;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9b9b9b;
}

::-ms-input-placeholder {
  color: #9b9b9b;
}
.flex-wrapper {
  display: flex;
  justify-content: space-between;
}
#home {
  background-image: url(../Assets/Subtract.png), url(../Assets/Vector\ 279.png);
  background-repeat: no-repeat;
  /* background-size: 100% 100%, 100% 100%; */
  /* background-position: center top, center top; */
  position: relative;
  height: 1000px;
  background-size: cover;
  z-index: 1;
}

#home .wrapper {
}
#home .wrapper header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1360px;
  margin: auto 0;
  align-items: center;
}

#home .wrapper header .left {
  width: 100px;
}

#home .wrapper header .left a {
  display: block;
  width: 100px;
  font-weight: bold;
  font-family: "Roboto";
}

#home .wrapper header .left a img {
  /* width: 50%;
    display: block;
    margin-left: 50px; 
    color: #fff; */
  width: 80px;
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

#home .wrapper header .middle {
  display: flex;
  align-items: center;
}

#home .wrapper header .middle ul {
  display: flex;
  align-items: center;
}

#home .wrapper header .middle ul li {
  margin-right: 45px;
}
#home .wrapper header .middle ul li:last-child {
  margin-right: 0;
}

#home .wrapper header .middle ul li a {
  font-size: 15px;
  color: #fff;
}

#home .wrapper header .right {
  display: flex;
  align-items: center;
}

#home .wrapper header .right ul {
  display: flex;
  align-items: center;
}

#home .wrapper header .right ul li {
  margin-right: 45px;
}

#home .wrapper header .right ul li .button {
  background: rgb(105, 165, 67);
  background: linear-gradient(
    90deg,
    rgba(105, 165, 67, 1) 0%,
    rgba(182, 234, 150, 1) 90%
  );
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
}

#home .wrapper #spotlight {
  padding-top: 30px;
  font-family: "Roboto";
  font-weight: bold;
}

#home .wrapper #spotlight .content {
}

#home .wrapper #spotlight .content h1 {
  width: 50%;
  font-size: 50px;
  color: #fff;
}

#home .wrapper #spotlight .content p {
  font-size: 15px;
  width: 90%;
  color: #fff;
}

#home .wrapper #spotlight .content button {
  padding: 20px 30px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 20px;
  background: rgb(105, 165, 67);
  background: linear-gradient(
    90deg,
    rgba(105, 165, 67, 1) 0%,
    rgba(182, 234, 150, 1) 90%
  );
  color: #fff;
}
#about {
  background-image: url("../Assets/Vector\ 283.png");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 3px;
  background-position-y: -7px;
  height: 700px;
  position: relative;
  top: -80px;
}

#about div.wrapper {
  height: 78%;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 20px;

}

#about div ul {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  width: 49%;
}
#about div ul li h1 {
  font-size: 50px;
  width: 89%;
}

#about div ul li p {
  width: 842px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.5;
}
#service {
  text-align: center;
  padding: 60px 0px;
}
#service.wrapper {
}
#service section.top {
  margin-bottom: 88px;
}
#service section.top h3 {
  max-width: 45%;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  margin-left: 28%;
}
#service section.bottom {
  position: relative;
}
#service section.bottom ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: -40px;
}
#service section.bottom ul li {
  width: 32%;
  margin-bottom: 40px;
}
#service section.bottom ul li div.task {
  width: 130px;
  margin: 0px auto 18px;
}

#service section.bottom ul li div.task img {
  width: 100%;
  display: block;
}
#service section.bottom ul li div.logo {
  width: 35px;
  position: absolute;
  left: 169px;
  top: 48px;
  filter: invert(1);
}
#service section.bottom ul li div.logo.two{
 left: 580px;
 }
 #service section.bottom ul li div.logo.three{
 left: 986px;
 }
#service section.bottom ul li div.logo img {
  width: 100%;
  display: block;
}
#service section.bottom ul li h4 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 12px;
}
#bottom{
 background-image: url(../Assets/Vector\ 284.png);
 background-repeat: no-repeat;
 /* background-position: left; */
 background-position-x: 0px;
 background-position-y: -2px;
 height: 111vh;
 /* padding-top: 10px; */
 /* background-size: 107%; */
 background-size: cover;
 /* padding: 2px 0; */
 /* margin-bottom: 35px; */
}
#bottom .content{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 100px;
 position: relative;
}
#bottom .content div.left{
 width: 45%;
  

}
#bottom .content div.left div.img{
 width: 95%;
 margin-left: 45px;
 padding-top: -54px;
 position: absolute;
 top: 185px;
}
#bottom .content div.left  img{
  
 display: block;
 width: 475px;
 height: 403px;
 border-radius:47% 53% 47% 53% / 38% 45% 55% 62%; 
 

}
#bottom .content div.right{
 width: 47%;
 margin-top: 20px;
 padding: 150px 0;
}
#bottom .content div.right h2{
 font-size: 40px;
 font-weight: 600;
 width: 73%;
 margin-bottom: 70px;
 text-align: left;
}
#bottom .content div.right p.one{
 margin-bottom: 20px;
 font-size: 17px;


}
#bottom .content div.right p{
 width: 66%;
 margin-bottom: 38px;
 font-size: 17px;
 text-align: left;

}
#bottom .content div.right a{

}
#bottom .content div.right a.button{
 padding: 11px 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 20px;
  background: rgb(105, 165, 67);
  background: linear-gradient(
    90deg,
    rgba(105, 165, 67, 1) 0%,
    rgba(182, 234, 150, 1) 90%
  );
  color: #fff;
}
#main{
  padding-top: 185px;

}
#main.wrapper{

}
#main section.content{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#main section.content div.left{
  width: 55px;

}
#main section.content div.left h1{
  font-size: 37px;
  font-weight: 900;
  width: 411px;

}
#main section.content div.right{
  display: flex;
  align-items: center;
  position: relative;
  width: 60%;

}
#main section.content div.right div.one{
  width: 32%;
  text-align: center;
  top:12px;
  right: 370px;
  
  position: absolute;
  

}
#main section.content div.right div.one div.img{
  width: 50px;
  margin: 64px auto 10px;

}
#main section.content div.right div.one div.img img{
  display: block;
  width: 100%;
 color:  rgba(105, 165, 67, 1);
 /* position: relative; */
 margin-left: 0px;


}
#main section.content div.right div.one h3{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;

}
#main section.content div.right div.one p{
  font-size: 10px;

}
#main section.content div.right div.two {
  width: 32%;
  text-align: center;
  left:94px;
  /* margin-right: -400px; */
  position: absolute;

}
#main section.content div.right div.two div.imgtwo{
  width: 50px;
  margin: -220px auto 10px;


}
#main section.content div.right div.two div.imgtwo img{
  display: block;
  width: 100%;
  /* position: relative; */
  margin-top: 0px;

}
#main section.content div.right div.two h3{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;

}
#main section.content div.right div.two p{

}
#main section.content div.right div.three{
  width: 32%;
  text-align: center;
  position: absolute;
  right: 552px;
  /* margin-right: -406px; */

}
#main section.content div.right div.three div.imgthree{
  width: 50px;
  margin: 0px auto 10px;
  /* margin-right: 0px; */

}
#main section.content div.right div.three div.imgthree img{
  display: flex;
  width: 100%;
  /* position: relative; */

}
#main section.content div.right div.three h3{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;

}
#main section.content div.right div.three p{

}
#main section.content div.right div.four{
  width: 32%;
  text-align: center;
  bottom: -88px;
  right: 164px;
  position: absolute;
  /* margin-right: -500px; */
}
#main section.content div.right div.four div.imgfour{
  width: 50px;
  margin: 110px auto 10px;

}
#main section.content div.right div.four div.imgfour img{
  display: block;
  width: 100%;
  /* margin-bottom:0px; */
  position: relative;
}

#main section.content div.right div.four h3{
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;
}
#main section.content div.right div.four p{


}
#work{
  padding: 285px 0;
  background: url("../Assets/Vector\ 285.png");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 3px;
  background-position-y: -146px;
  height: 968px;
  margin-top: 200px;
  background-size: 110%;
}
#work.wrapper{

}
#work section.content{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#work section.content div.left{
  width: 50%;
  margin-top: -85px;

}
#work section.content div.left h1{
  font-size: 45px;
  font-weight: bolder;
  width: 550px;
  margin-bottom: 20px;

}
#work section.content div.left p{
  width: 550px;
  margin-bottom: 10px;

}
#work section.content div.left h3{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;

}

#work section.content div.left ol{

}
#work section.content div.left ol li{
   margin-bottom: 15px;

}
#work section.content div.left ol li:nth-child{
  margin-bottom: 0;

}
#work section.content div.right{
   width: 45%;

}
#work section.content div.right div.img{
  width: 85%;
  margin: 0 auto;

}
#work section.content div.right div.img img{
  border-radius: 100% 89% 87% 98% / 80% 92% 100% 100%;
  width: 100%;
  display: block;
  margin-top: -280px;

}
#brands {
  padding: 150px 0;
}

#brands section.content {
}

#brands section.content div.top {
  margin-bottom: 100px;
}

#brands section.content div.top h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

#brands section.content div.middle {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#brands section.content div.middle div.bg-img {
  background: url("../Assets/Frame\ 3466320.png");
  background-repeat: no-repeat;
  background-size: 290px;
  width: 50%;
  background-position-x: 117px;
  position: relative;
}
#brands section.content div.middle div.bg-img div.img {
  position: absolute;
  right: 150px;
  bottom: 230px;
  /* border: 6px solid #fff; */
  /* border-radius: 50%; */
  width: 29%;
  height: 32%;
}
#brands section.content div.middle div.bg-img div.img img {
  display: block;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  
}

#brands section.content div.middle div.content {
  width: 50%;
  padding: 51px 0;
}

#brands section.content div.middle div.content h4 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

#brands section.content div.middle div.content p {
  font-size: 21px;
}

#brands section.content div.bottom {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

#brands section.content div.bottom h3.left {
  font-size: 40px;
  font-weight: 700;
  width: 25%;
}

#brands section.content div.bottom ul {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

#brands section.content div.bottom ul li {

}

#brands section.content div.bottom ul li a {
}

#brands section.content div.bottom ul li a img {
  display: flex;
  width: 100%;
}
footer{

}
footer.wrapper{

}
footer div.wrapper{

}
footer div.wrapper div.top{
  
}
  
